extends ../base
include ../mixins/video

block content 
    form(method="get")
        input(name="keyword" placeholder="Search By Title" type="text")
        input(type="submit" value="Search")

    each video in videos 
        +video(video)