doctype html
html(lang="ko")
    head
        //- locals에 있는 값은 pug에서 바로 읽을수있다.
        title #{pageTitle} | #{siteName}
        //- cdn css
        //- link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        include partials/header
        main 
            block content
        include partials/footer
    block scripts