doctype html
html(lang="ko")
    head
        //- locals에 있는 값은 pug에서 바로 읽을수있다.
        title #{pageTitle} | #{siteName}
        //- cdn css
        link( rel="stylesheet" href="https://unpkg.com/mvp.css")

    body
        header
            h1=pageTitle
            nav
                ul 
                    li
                        a(href="/") Home
                    
                    li 
                        a(href="/videos/upload") Upload Video
                    li
                        a(href="/search") Search
                        //- locals에 있는 값은 pug에서 바로 읽을수있다.
                    if loggedIn
                        li
                            a(href="/") Logout
                        li  
                            a(href="/my-profile") #{loggedInUser.name}의 프로필
                    else
                        li
                            a(href="/login") Login
                        li
                            a(href="/join") Join
        main 
            block content
    include partials/footer
    