extends base

block content
    form(action="/edit" method="post") 
        input(name="name" placeholder="Name" type="text" required value=loggedInUser.name)
        input(name="email" placeholder="Email" type="text" required value=loggedInUser.email)
        input(name="username" placeholder="UserName" type="text" required value=loggedInUser.username)
        input(name="location" placeholder="Location" type="text" required value=loggedInUser.location)
        input(type="submit", value="Submit")