extends base.pug

block content
    h4 Change Title of Video
    form(method="post")
        input(name="title" placeholder="Video Title" value=video.title, require)
        input(value="Save", type="submit")
