extends base

block content 
    form(method="post")
        h4 Upload Form
        input(placeholder="Title", require, type="text" name="title")
        input(placeholder="Description", require, type="text" name="description")
        input(placeholder="Hashtags separated by comma.", require, type="text" name="hashtags")
        input(value="Upload" type="submit")